@import url("./global.css");

html {
  height: 100%;
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.carrinho .navbar {
  background-color: var(--color-primary);
}

.carrinho .menu li a:hover {
  color: #fff;
}

.cart {
  font-family: "Poppins", sans-serif;
}

.cart .cart-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart .cart-null .no-product {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin-top: 3rem;
}

.cart .cart-null .no-product .small-title {
  font-size: 2rem;
  font-weight: 600;
}

.cart .cart-null .no-product a {
  display: inline-block;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 3rem;
  margin-top: 2rem;
  border-radius: 6px;
  transition: all 0.3s ease;
  border: 2px solid var(--color-primary);
}

.cart .cart-null .no-product a:hover {
  color: var(--color-primary);
  background: none;
}

h2 {
  margin-top: 3rem;
}

.carrinho footer {
  margin-top: auto;
}
