:root {
  font-size: 62.5%; /* 10px */
  --color-primary: #FF5722;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-size: 1.6rem;
}

section {
  padding: 100px 0;
}

a {
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 8rem;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 3rem 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background-color: var(--color-primary);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #fff;
}

.navbar .menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.menu li a {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.3 ease;
}

.menu li a:hover{
  color: var(--color-primary);
}

.navbar.navbar.sticky .menu li a:hover{
  color: #fff;
}

.home{
  display: flex;
  background-image: url(../img/fundo-header.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  font-family: 'Ubuntu',sans-serif;
  background-attachment: fixed;
}

.home .max-width{
  margin: auto 0 auto 3.0rem;
}

.home .home-content .text-1{
  font-size: 2.7rem;
}

.home .home-content .text-2{
  font-size: 7.5rem;
  font-weight: bold;
  margin-left: -3px;
}

.home .home-content .text-3{
  font-size: 4.0rem;
  margin: 5px 0;
}

.home-content a{
  display: inline-block;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 2.5rem;
  padding: 1.2rem 3.6rem 1.2rem 3.6rem;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--color-primary);
  transition: all 0.3s ease;
}

.home-content a:hover{
  background: none;
}

.about {
  font-family: 'Poppins', sans-serif;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 4.0rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 50%;
}

.about .about-content .right .text {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background-color: var(--color-primary);
  color: #FFF;
  font-size: 2rem;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--color-primary);
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: var(--color-primary);
  background: none;
}